.ingredients-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .ingredient {
    display: flex;
    gap: 20px;
    $ingredient-unit-width: 150px;
    height: 36px;
    .ingredient-unit-and-name {
      font-size: 28px;
      width: $ingredient-unit-width;
      text-align: right;
      font-family: 'Mardoto', sans-serif;
      font-weight: bold;
    }
    .ingredient-unit {

    }

    .ingredient-name {
      font-size: 28px;
      width: calc(100% - $ingredient-unit-width);
      font-family: 'Mardoto', sans-serif;
      font-weight: bold;
    }
  }
}
