.recipe-sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: 200px;
  .section {
    display: flex;
    gap: 65px;
    .section-title-wrapper {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      height: 194px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .section-title {
        font-size: 32px;
        font-family: 'Mardoto', sans-serif;
        font-weight: bold;
        //transform: rotate(-90deg) translate(-95px, 0px)
        transform: rotate(-90deg);
        white-space: nowrap; /* prevents wrapping */
      }
    }
  }
}
