<div class="recipe-sections-wrapper">
  @for (item of recipeSections(); track item; let i = $index) {
    <div class="section">
      @if (!item.sectionTitle && !item.sectionTitleHy) {
        <div class="section-title-wrapper-empty">

        </div>
      } @else {
        @if (i % 2 === 0) {
          <div class="section-title-wrapper" [ngStyle]="{'background-color': colorTemplateService.getSectionColorEven()}">
            <span class="section-title" [ngStyle]="{'color': colorTemplateService.getSectionTitleColorEven()}">{{ language() === 'hy' ? item.sectionTitleHy : item.sectionTitle }}</span>
          </div>
        }
        @if (i % 2 === 1) {
          <div class="section-title-wrapper" [ngStyle]="{'background-color': colorTemplateService.getSectionColorOdd()}">
            <span class="section-title" [ngStyle]="{'color': colorTemplateService.getSectionTitleColorOdd()}">{{ language() === 'hy' ? item.sectionTitleHy : item.sectionTitle }}</span>
          </div>
        }
      }

      <app-ingredients-list [language]="language()" [ingredients]="item.ingredients"></app-ingredients-list>
    </div>
  }
</div>
