.recipe-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.recipe-title {
  color: rgb(90, 112, 246);
  text-align: center;
  font-size: 48px;
  font-family: 'Mardoto', sans-serif;
  font-weight: bold;
  height: 60px;
}

.under-title-wrapper {
  display: flex;
  justify-self: center;
  position: relative;
  top: -120px;
  .under-title {
    width: 250px;
    text-align: center;
  }
}
