.page-wrapper {
  display: flex;
  gap: 20px;

  .recipe-wrapper {
    display: flex;
    width: 1080px;
    height: 1350px;
    background-color: purple;
    background-color: rgb(245, 194, 103);

    $left-part-width: 600px;
    $title-height: 200px;
    $image-wrapper-height: 200px;
    .left-part {
      width: $left-part-width;
      .title-wrapper {
        height: $title-height;
      }
      .image-wrapper {
        height: $image-wrapper-height;
        width: 100%;
        align-content: center;
        text-align: center;
        .khohem-logo {
          height: 75px;
        }

      }

      .sections-wrapper {
        display: flex;
        flex-direction: column;
        gap: 200px;
        .section {
          display: flex;
          gap: 65px;
          .section-title-wrapper {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            background-color: rgb(90, 112, 246);
            height: 194px;
            width: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.odd {
              background-color: white;
            }
            &.even {
              background-color: rgb(90, 112, 246);
            }
            .section-title {
              font-size: 37px;
              font-family: 'Mardoto', sans-serif;
              font-weight: bold;
              color: white;
              //transform: rotate(-90deg) translate(-95px, 0px)
              transform: rotate(-90deg);
              white-space: nowrap; /* prevents wrapping */
              &.odd {
                color: rgb(90, 112, 246);

              }
              &.even {
                color: white;

              }
            }
          }
        }
      }
    }

    .right-part {
      width: calc(100% - $left-part-width);
      height: 100%;
      overflow: hidden;
      position: relative;
    }

  }

  .actions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px
  }
}
