<ng-container>
    <div class="page-wrapper">

      @if (recipe(); as recipe) {
        <div id="recipe-wrapper" class="recipe-wrapper">
          <div class="left-part">
            <div class="image-wrapper">
              <img class="khohem-logo" src="khohem.svg" alt="khohem-logo-missing">
            </div>

            <div class="title-wrapper">
              <app-recipe-title [recipeTitle]="language() ==='hy' ? recipe.titleHy: recipe.title"></app-recipe-title>
            </div>

            <div class="sections-wrapper">
              @for (item of recipe.sections; track item; let i = $index) {
                <div class="section">
                  <div class="section-title-wrapper {{i % 2 === 0 ? 'even': 'odd'}}">
                    <span class="section-title {{i % 2 === 0 ? 'even': 'odd'}}">{{ language() === 'hy' ? item.sectionTitleHy : item.sectionTitle }}</span>
                  </div>
                  <app-ingredients-list [language]="language()" [ingredients]="item.ingredients"></app-ingredients-list>
                </div>
              }
            </div>

          </div>
          <div class="right-part">
            <app-recipe-image-displayer [imageUrl]="'ttoum.jpeg'"></app-recipe-image-displayer>
          </div>

        </div>

      }
      @else {
        No recipe loaded
      }

      <div class="actions-wrapper">
        <button (click)="downloadAsJpg()">Downloads</button>
        <button (click)="toggleToArmenian()">Armenian</button>
        <button (click)="toggleToEnglish()">English</button>
        <button>Future action</button>
      </div>
    </div>

</ng-container>
