.ingredients-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .ingredient {
    display: flex;
    gap: 20px;
    $ingredient-unit-width: 150px;
    .ingredient-unit-and-name {
      color: yellow;
      font-size: 22px;
      width: $ingredient-unit-width;
      text-align: right;
      font-family: 'Mardoto', sans-serif;
    }
    .ingredient-unit {

    }

    .ingredient-name {
      color: white;
      font-size: 22px;
      width: calc(100% - $ingredient-unit-width);
      font-family: 'Mardoto', sans-serif;
    }
  }
}
