@if (recipe(); as recipe) {
  <div id="recipe-wrapper-{{language()}}" class="recipe-wrapper" [ngStyle]="{'background-color': colorTemplateService.getBackgroundColor()}">
    <div class="left-part">
      <div class="image-wrapper">
        <img class="khohem-logo" src="khohem.svg" alt="khohem-logo-missing">
      </div>

      <div class="title-wrapper">
        <app-recipe-title [recipeTitle]="language() ==='hy' ? recipe.titleHy: recipe.title"></app-recipe-title>
      </div>

      <div class="sections-wrapper">
        <app-recipe-sections-displayer [language]="language()" [recipeSections]="recipe.sections"></app-recipe-sections-displayer>
      </div>
    </div>
    <div class="right-part">
      <app-recipe-image-displayer [imageUrl]="recipe.recipeImageUrl ?? 'image-not-found.png'"></app-recipe-image-displayer>
    </div>
  </div>
}
@else {
  No recipe loaded
}
